---
import Container from "./Container.astro"
---

<section id="cta" class="bg-primary py-16 text-white">
  <Container>
    <div class="text-center">
      <h2 class="text-3xl font-bold">Empieza tu viaje hacia una mejor salud</h2>
      <p class="mt-4 text-lg">Con nuestros suplementos de alta calidad, puedes alcanzar tus objetivos de salud y bienestar. ¡Únete a Nutrition Valeza GDL hoy!</p>
      <a href="/productos" class="mt-6 inline-block bg-white text-primary font-semibold py-3 px-8 rounded-lg shadow-lg hover:bg-gray-100">
        Ver Productos
      </a>
    </div>
  </Container>
</section>
