---
import Container from "./Container.astro";
---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Opiniones de nuestros clientes
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Carla M.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Cliente frecuente</p>
          </div>
        </div>
        <p class="mt-8">"Los suplementos de Nutrition Valeza GDL han sido una bendición para mi salud. Desde que comencé a usarlos, he sentido una mejora significativa en mi energía y bienestar general. ¡Altamente recomendados!"</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Laura G.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Nutricionista</p>
          </div>
        </div>
        <p class="mt-8">"He recomendado los productos de Nutrition Valeza GDL a muchos de mis pacientes y han visto resultados increíbles. La calidad es insuperable y los ingredientes son de primera clase."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Miguel P.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Entrenador personal</p>
          </div>
        </div>
        <p class="mt-8">"Mis clientes han experimentado mejoras notables en su rendimiento gracias a los suplementos de Nutrition Valeza GDL. Son una parte esencial de cualquier rutina de entrenamiento."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Ana L.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Deportista amateur</p>
          </div>
        </div>
        <p class="mt-8">"Desde que empecé a tomar los suplementos de Nutrition Valeza GDL, he notado un aumento en mi resistencia y recuperación. Realmente marcan la diferencia."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">José R.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Atleta profesional</p>
          </div>
        </div>
        <p class="mt-8">"Como atleta profesional, necesito lo mejor para mi cuerpo, y los suplementos de Nutrition Valeza GDL cumplen con creces mis expectativas. Son parte fundamental de mi régimen diario."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Elena F.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Aficionada al fitness</p>
          </div>
        </div>
        <p class="mt-8">"He probado muchos productos en el mercado, pero los suplementos de Nutrition Valeza GDL son los que realmente funcionan. Mi energía y rendimiento han mejorado considerablemente."</p>
      </div>
    </div>
  </Container>
</div>
